@forward "./utility";

@use "./utility" as util;

body {
  font-family: util.$font-family;
  font-size: util.$paragraph-font-size;
}

h1 {
  font-size: 30px;
  font-weight: util.$heading-font-weight;
  line-height: util.$heading-line-height;
}
p {
  font-size: util.$paragraph-font-size;
  font-weight: util.$paragraph-font-weight;
  line-height: util.$paragraph-line-height;
}
h2 {
  font-size: 24px;
  font-weight: util.$heading-font-weight;
  line-height: util.$heading-line-height;
}
h3,
h4,
h5,
h6 {
  font-size: 18px;
  line-height: 22px;
  font-weight: util.$heading-font-weight;
}
a {
  color: inherit;
}
a,
span,
small {
  display: inline-block;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a,
button {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 03s;
  transition: all 0.3s;
  text-decoration: none;
  color: inherit;
}
a:focus,
.btn:focus,
button:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}
// Background color
.th-bg-primary {
  background-color: util.$primary-color;
}
.th-bg-white {
  background-color: util.$white-color;
}
.th-bg-black-light {
  background-color: util.$light-black-color;
}
.th-bg-white-light {
  background-color: util.$light-white-color;
}
.th-bg-light-carkill {
  background-color: util.$light-carkill-color;
}
.th-bg-light-pink {
  background-color: #fff4f4;
}
.th-bg-light-2 {
  background-color: util.$bg-light-2;
}
// Progressbar Background
.th-progress-bar-1 {
  background: util.$progress-bar-1;
}
.th-progress-bar-2 {
  background-color: util.$progress-bar-2;
}

.th-progress-bar-3 {
  background-color: util.$progress-bar-3;
}
.th-progress-bar-4 {
  background-color: util.$progress-bar-4;
}
.th-bg-gk {
  background-color: util.$gk-bg-color;
}
// Font size
.th-fs-14 {
  font-size: 14px;
}
// Font color
.th-primary-color {
  color: util.$primary-color;
}
.th-black-color {
  color: util.$black-color;
}
.th-light-black-color {
  color: util.$light-black-color;
}

.th-midiam-pink-color {
  color: util.$midim-pink-color;
}
.th-carkill-color {
  color: util.$catkrill-color;
}
.th-pink-color {
  color: #ff6080;
}
