@forward "./utility";
@use "./utility" as util;

@mixin social-color($color) {
  color: $color;
  transition: 0.3s;
  &:hover {
    background-color: $color;
    color: util.$light-white-color;
  }
}

@mixin contact-icon-color($color) {
  color: $color;
}
