* {
  margin: 0;
  padding: 0;
  list-style: none;
}

// color
$primary-color: #1b74e4;
$white-color: #ffffff;
$light-white-color: #f3f6f6;
$black-color: #000000;
$light-black-color: #44566c;
$pink-color: #d566ff;
$catkrill-color: #6ab5b9;
$light-carkill-color: #eef5fa;
$midim-pink-color: #c17ceb;
$light-blue-color: #269fff;
$light-pink-color: #fd7590;
$deep-pink-color: #e93b81;
$facebook-color: #1773ea;
$twitter-color: #1c9cea;
$instagram-color: #e12a72;
$linkedin-color: #144679;
$bg-white-color: #ffffff;
$bg-light-2: #f8fbfb;
$bg-primary-color: #1b74e4;
$gk-bg-color: #edf2f2;
// progress bar color
$progress-bar-1: #ff6464;
$progress-bar-2: #9272d4;
$progress-bar-3: #5185d4;
$progress-bar-4: #ca56f2;

// Typography
$font-family: "Poppins", sans-serif;
$heading-font-size: 24px;
$heading-font-weight: 600;
$heading-line-height: 30px;
$paragraph-font-weight: 400;
$paragraph-font-size: 16px;
$paragraph-line-height: 22px;
$menu-font-size: 14px;
