@forward "./utility";
@forward "./common";
@use "./utility" as util;
@use "./mixins";

body {
  background-image: url("/assets/images/page-bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  background-position: center center;
}
.menu-btn {
  background-color: util.$primary-color;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  span {
    background-color: util.$white-color;
    display: block;
    height: 2px;
    width: 15px;
    border-radius: 2px;
    transition: all 0.3s ease;
    position: absolute;
  }
  span:nth-child(1) {
    transform: translateY(-5px);
  }
  span:nth-child(2) {
    transform: translateY(5px);
  }
  &.active {
    span:nth-child(2) {
      transform: rotate(-45deg);
    }
    span:nth-child(1) {
      transform: rotate(45deg);
    }
    span:nth-child(3) {
      transform: translateX(20px);
      opacity: 0;
    }
  }
}

// menu
.menu-area {
  transform: scaleY(0);
  transform-origin: top;
  z-index: 100;
  transition: all 0.3s ease;
  &.active {
    transform: scaleY(1);
  }
  ul {
    font-size: util.$menu-font-size;
    .nav-link.active {
      color: util.$primary-color;
    }
  }
}

// Left side
.personal-info {
  .social ul li a {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    font-size: 18px;
    background-color: util.$light-white-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // social icon
  .social ul li {
    .facebook {
      @include mixins.social-color(util.$facebook-color);
    }
    .twitter {
      @include mixins.social-color(util.$twitter-color);
    }
    .linkedin {
      @include mixins.social-color(util.$linkedin-color);
    }
    .instagram {
      @include mixins.social-color(util.$instagram-color);
    }
  }
}
// contact info
.contact-info {
  .icon {
    width: 35px;
    height: 35px;
    border-radius: 8px;
    background-color: util.$white-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  i {
    font-size: 22px;
  }
  .text {
    text-align: left;
    span {
      color: util.$light-black-color;
      font-size: 12px;
    }
    p {
      font-size: 14px;
      margin-bottom: 0;
      color: util.$black-color;
    }
  }

  .phone {
    @include mixins.contact-icon-color(util.$deep-pink-color);
  }
  .email {
    @include mixins.contact-icon-color(util.$catkrill-color);
  }
  .location {
    @include mixins.contact-icon-color(util.$light-pink-color);
  }
  .birthday {
    @include mixins.contact-icon-color(util.$midim-pink-color);
  }
  hr {
    color: util.$light-black-color;
  }
}
// Download Button
.download-btn {
  background-color: util.$primary-color;
  color: util.$white-color;
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  font-size: 18px;
  transition: 0.3s;
  border: 1px solid util.$primary-color;
  &:hover {
    background-color: util.$light-white-color;
    border: 1px solid util.$primary-color;
    color: util.$primary-color;
  }
}

// Main content area
.content-area {
  .top-content-area {
    .title {
      .page-title {
        position: relative;
        &::after {
          content: "";
          width: 150px;
          height: 3px;
          border-radius: 5px;
          background-color: util.$primary-color;
          position: absolute;
          top: 50%;
          left: 122%;
          transform: translateY(-50%);
        }
      }
    }
    p {
      line-height: 27px;
    }
  }
}
// middel-content-area
.middel-content-area {
  .item {
    .icon {
      font-size: 35px;
    }
    .content p {
      line-height: 27px;
    }
  }
}
// client Logo
.client-logo-slider .swiper .swiper-wrapper {
  .swiper-slide {
    text-align: center;
  }
  .swiper-slide img {
    padding: 0 15px;
    height: 62px;
  }
}
